QPushButton {
    background-color: #e95065;
    color: #95959E;
    border-radius: 0px;
    border: 0px transparent;
    padding: 13px;
    max-height: 23px;
    max-width: 23px;
}
QPushButton:hover {
    background-color: #ff758c;
}
QPushButton:pressed {
    background-color: #d32f4a;
}
QPushButton:disabled {
    background-color: #d3d3d3;
}